body {
    font-family: "Verdana";
    background-color: #2c3e50;
}

#solarSystem {
    background-color:#ecf0f1;
    margin: 0 100px 0 100px;
}

#planetsPic {
    position: absolute;
    top: 230px;
    right: 105px;                    
}

.someParagraph { 
    width:500px;
    height:600px; 
    text-align: left;
    font-size: 12px;
}